
<!DOCTYPE html>
<html>

<head></head>

<body>
  <h1>Products</h1>
    <% products.map((product) => { %>
        <a href="/products/<%=product.id%>"><%= product.Title%></a>
       <% }) %>
</body>

</html>